SoundFile
torchaudio
munch
torch
pydub
pyyaml
librosa
nltk
matplotlib
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
wandb
git+https://github.com/resemble-ai/monotonic_align.git
fastapi
uvicorn
python-multipart
streamlit
requests
soundfile
torch
torchaudio
librosa
phonemizer
nltk
munch
pyyaml
transformers
einops
scipy
numpy
git+https://github.com/tarepan/SpeechMOS.git